/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f8fa;
  margin: 0;
  padding: 20px;
  color: #333;
}

h1 {
  text-align: center;
  color: #4a90e2;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* Form Styles */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 900px; /* Set the maximum width of the form */
  margin-left: auto; /* Center the form horizontally */
  margin-right: auto; /* Center the form horizontally */
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 50%; 
  margin-left: auto; /* Center the form horizontally */
  margin-right: auto; /* Center the form horizontally */
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 250px;
  font-size: 1rem;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  border: 2px solid black; /* Add black border around the button */
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #357ab8;
}

/* Table Styles */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: white;
}

th, td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
  color: #555;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Button Styles for Table */
td button {
  border: 2px solid black; /* Add black border around the buttons */
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

td button:focus {
  outline: #357ab8;
}

/* General Button Styles */
button {
  border: 2px solid black; /* Add black border around all buttons */
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

button:hover {
  opacity: 0.9;
}



